<!-- This is the /profile/<string:username>". route --> 
{% extends "layout.html" %}
 
<!-- title is post -->
{% block title %}  {{title}}  {% endblock title %} 
    
<!-- Have all the user posts -->
<!-- Should I name it different then block content? -->
{% block content %}
        <!--before random image <img src="img_girl.jpg" alt="Girl in a jacket"> -->
        <!-- Now image from the database -->    
        {% if current_user.is_authenticated and current_user.username == username %}       
        
                <!-- I don't need this line because I am not updating profile so far
                        <h2> <a href="{{ url_for('userinfo.update_profile', username=username) }}"> update profile info </a> </h2> -->
        {% endif %}
                 <!-- List of all the postinfo of a user -->
                {{ (username) }}
        <!-- checks to make sure I have posts -->
        {% if current_user.content != None %}
                {% for column in username.id %}
                        {{ (column.email) }}
                        {{ (column.title) }}
                        {{ (column.content) }}
                        {{ (column.date_posted) }}    
                {% endfor %}   
        {% endif %}       
{% endblock content %}
