<!-- This is the /profile/<string:username>". route --> 
{% extends "layout.html" %}
 
<!-- title is post -->
{% block title %}  {{title}}  {% endblock title %} 
    
<!-- Have all the user posts -->
<!-- Should I name it different then block content? -->
{% block content %}
        <!--before random image <img src="img_girl.jpg" alt="Girl in a jacket"> -->
        <!-- Now image from the database -->
        
            
        {% if current_user.is_authenticated and current_user.username == username %}       
                <!-- @userinfo.route("/profile/<string:username>/update_profile", methods = ['POST', 'GET']) -->
                <!-- start with "{{ }}". Whenever there is a "/" replace it with a comma. Example <string:username replace with a variable from the database. -->
                 <h2> <a href="{{ 'url_for ('userinfo.profile', username=username.username, username.update_profile) }}"> update_profile info </a> </h2>
        {% endif %}
                 <!-- List of all the postinfo of a user -->
                {{ (username) }}
                {% for column in username.posts %}
                        {{ (column.email) }}
                        {{ (column.title) }}
                        {{ (column.content) }}
                        {{ (column.date_posted) }}    
                {% endfor %}    
{% endblock content %}
