<!--upload and update profile pics-->
        {% extends "layout.html" %}
 
    <!-- title is post -->
    {% block title %}  {{title}}  {% endblock title %} 
        
    <!--should block content have a different name?  -->
    {% block content %} 
        <!-- Once you get the error message from ( "_formhelpers.html" import render_field) , you use novalidate to 
        get the error message from wtf forms and makes it show up on the screen. %} -->
        <!-- @postinfo.route("/post/edit/<int:post_id>", methods = ['POST', 'GET'] -->
        <!-- enctype= is for uploads. Used if using filefield "multipart/form-data" -->   
        <form validate action="/edit_profle" id="/edit_profle_forms"  enctype="multipart/form-data"  method="POST"> </form> 
        <!-- makes it so you can only accept certain files --> 
        <input type="file" name="upload" accept=" '.jpg', '.png' ">
            <!-- Make the secret key work for forms -->
            {{form.csrf_token}} 
            {{ form.update_password }}
            <!-- {{l}} add's the profile image upload -->
            <h1> todo delete profile button </h1> 
            <button type="update_button"> update </button> 

    {% endblock content %}

    

    <!--make flash message work-->
    {%with messages = get_flashed_messages()%}
    {%if messages %}
        <ul class=flashes>
        {%for message in messages%}
        <p1>  {{message}} </p1>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}


