{%extends "layout.html"%}
<!--get the error message from wtf forms -->
{% from "_formhelpers.html" import render_field %}

{% block title %} {{title}} {% endblock title %} 
{%block content%}

    <form method="POST" enctype="multipart/form-data" method="POST"> 
        {{ form.csrf_token }} 
        {{ form.image_filename }}
        <input type="submit" value="Submit">
    </form>

 


    <!--make flash message work-->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <p1>  {{message}} </p1>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}    

{%endblock content%}     